<div class="alert alert-warning" ng-if="notFound">
	<h2>El artículo que intenta ver no existe</h2>
</div>

<md-content ng-if="!notFound">
	<md-toolbar class="md-hue-1">
		<div class="md-toolbar-tools" layout="row" layout-align="end center">
			<md-button class="md-raised md-warn" data-ng-click="goBack()">Atrás</md-button>
		</div>
	</md-toolbar>
	<md-card>
		<div layout="row" layout-align="end center">
			<article-actions flex-gt-sm="20" ></article-actions>
		</div>
		<md-card-title>
			<md-card-title-text>
				<dt><h3>Título:</h3> </dt>
				<dd>{{article.title}}</dd>
			</md-card-title-text>
		</md-card-title>

		

		<md-card-content ng-if="article.alt_titles.length">
			<h3 style="margin-right: 5%">Titulos alternativos</h3>
			<md-button ng-repeat="tag in article.alt_titles">{{tag}}</md-button>
		</md-card-content>

		<div layout="row" layout-wrap >
			<div flex-gt-sm="20">
				<md-card-content>
					<h4>Creado por: </h4> {{ article.creatorUser.fullname }}
				</md-card-content>
			</div>
			<div flex-gt-sm="20">
				<md-card-content>
					<h4>Fecha de creación: </h4> {{ article.creation_date | date}}
				</md-card-content>
			</div>
			<div flex-gt-sm="20">
				<md-card-content>
					<h4>Última modificación: </h4> {{ article.updaterUser.fullname }} 
				</md-card-content>
			</div>
			<div flex-gt-sm="20">
				<md-card-content>
					<h4>Fecha de modificacion: </h4> {{ article.modification_date |  date:'medium'}}
				</md-card-content>
			</div>
			<div flex-gt-sm="20">
				<md-card-content ng-if="article.publication_change_date">
					<h4 ng-if="article.active">Activo desde: </h4>
					<h4 ng-if="!article.active">Inactivo desde: </h4>
					{{ article.publication_change_date | date}}
				</md-card-content>
			</div>
		</div>

		<md-card-content  ng-if="article.tags.length">
			<h3 style="margin-right: 5%">Tags</h3>
			<md-button ng-repeat="tag in article.tags">{{tag}}</md-button>
		</md-card-content>

		<md-divider></md-divider>

		<md-card-content ng-if="article.price">
			<b>Precio: </b><span>{{article.price}}</span>
		</md-card-content>

	</md-card>

	<div layout="row" layout-wrap >
		<div flex-gt-sm="50" ng-repeat="(tag, items) in article.categorizations">
			<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
				<md-card-title>
					<h3>{{tag}}</h3>
				</md-card-title>
				<md-card-content>
					<div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
							{{ item.body }}
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>

	<md-card ng-if="article.body">
		<md-card-title>
			<h3>Cuerpo del artículo</h3>
		</md-card-title>
		<md-card-content>
			<div ng-bind-html="trustAsHtml(article.body)"></div>

			<p ng-if="article.creditos">
				<b>Créditos: </b>
				<div ng-bind-html="trustAsHtml(article.creditos)"></div>
			</p>
		</md-card-content>
	</md-card>
	<md-card>
		<md-card-content ng-if="article.images.length">

			<h3 style="margin-right: 5%">Imagenes</h3>

			<div layout="row" layout-wrap>
				<div flex-gt-sm="25"  ng-repeat="image in article.images">

					<md-card >
						<img ng-src="{{image.url}}" class="md-card-image" alt="Washed Out">
					</md-card>
				</div>
			</div>
		</md-card-content>
	</md-card>
	<md-card>
		<md-card-content ng-if="article['youtube'].length">

			<h3 style="margin-right: 5%">Videos Youtube</h3>
			<div ng-repeat="video in article['youtube']">
				<div ng-bind-html="trustAsHtml(video.youtubeID)"></div>
			</div>
		</md-card-content>
	</md-card>
	<md-card>
		<md-card-content ng-if="article.tweet.length">
			<h3 style="margin-right: 5%">Tweets</h3>
			<md-button ng-repeat="tweet in article.tweet">{{tweet.tweetID}}</md-button>
		</md-card-content>
	</md-card>
</md-content>

