<div class="alert alert-warning" ng-if="vm.isLocked">
	<h2>Esta nota está bloqueada, cualquier cambio que haga no será guardado</h2>
</div>

<md-content>

	<md-toolbar layout="row" class="md-hue-1">
		<div class="md-toolbar-tools">
			<h1 ng-if="!vm.edit">Crear artículo</h1>
			<h1 ng-if="vm.edit">Editar artículo</h1>

			<span flex></span>

			<md-button class="md-raised md-warn" data-ng-click="cancelEdit(vm.article.id)">Cancelar</md-button>
		</div>
	</md-toolbar>

	<div>
		<form name="articleForm" novalidate ng-submit="vm.ProcessForm('articles')" >
			<md-content>
				<md-tabs md-dynamic-height md-border-bottom>

					<md-tab label="Información básica">
						<md-content class="md-padding">
							<md-input-container class="md-block">
								<label>Título</label>
								<input ng-model="vm.article.title" name="titulo" md-maxlength="100" maxlength="100" ng-maxlength="100" ng-required="true">
								<div ng-messages="articleForm.titulo.$error" role="alert">
									<div ng-message="required">Este campo es obligatorio</div>
									<div ng-message="maxlength">Este campo puede tener como máximo 100 caracteres</div>
								</div>
							</md-input-container>

							<md-input-container class="md-block" ng-if="config.showPrice">
								<label>Precio</label>
								<input type="number" ng-model="vm.article.price" ng-required="required">
							</md-input-container>

							<div ng-if="config.showAltTitles">
								<div data-ng-repeat="altTitle in newAltTitles">
									<md-input-container class="md-block">
										<label>Titulo alternativo</label>
										<input ng-model="altTitle.body" md-maxlength="100" ng-maxlength="100">
									</md-input-container>
								</div>

								<md-button ng-click="addNewAltTitle()" type="button" class="md-raised md-primary">Añadir Titulo
									alternativo
								</md-button>
							</div>

							<div data-ng-repeat="tag in newTags">
								<md-input-container class="md-block">
									<label>tag</label>
									<input ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="tag.body" ng-pattern-restrict>
								</md-input-container>
							</div>

							<md-button ng-click="addNewTag()" type="button" class="md-raised md-primary">Añadir tag</md-button>

							<div layout="row" layout-wrap ng-if="config.showDates">
								<md-card-title flex-gt-sm="100">
									Fechas de periodo de publicación
								</md-card-title>
								<div flex-gt-sm="50">
									<md-input-container>
										<label>Inicio</label>
										<md-datepicker name="publish_date_start" ng-model="vm.article.publish_date_start" ng-required="required" max="{{vm.article.publish_date_end}}"></md-datepicker>
										<div ng-messages="articleForm.publish_date_start.$error" role="alert">
											<div ng-message="required">Este campo es obligatorio</div>
											<div ng-message="max">La fecha de fin debe ser mayor a la de inicio</div>
										</div>
									</md-input-container>
								</div>
								<div flex-gt-sm="50">
									<md-input-container>
										<label>Fin</label>
										<md-datepicker name="publish_date_end"  ng-model="vm.article.publish_date_end" required="required" min="{{vm.article.publish_date_start}}"></md-datepicker>
										<div ng-messages="articleForm.publish_date_end.$error" role="alert">
											<div ng-message="required">Este campo es obligatorio</div>
											<div ng-message="min">La fecha de fin debe ser mayor a la de inicio</div>
										</div>
									</md-input-container>
								</div>
							</div>
						</md-content>
					</md-tab>

					<md-tab label="Cuerpo">
						<md-content class="md-padding">
							<md-input-container class="md-block">
								<div ng-messages="articleForm.cuerpo.$error" role="alert">
									<div ng-message="required">Este campo es obligatorio</div>
									<div ng-message="maxlength">Este campo puede tener como máximo 100 caracteres</div>
								</div>
								<textarea
										ng-model="vm.article.body" 
										froala froala-init="froalaInitialization(initControls)"
										rows="5" md-select-on-focus
										name="cuerpo">
								</textarea>
							</md-input-container>

							<h4>Créditos</h4>
							<md-input-container class="md-block">
								<textarea froala="froalaCreditsOptions" ng-model="vm.article.creditos" rows="50"></textarea>
							</md-input-container>
						</md-content>
					</md-tab>

					<md-tab label="Categorizaciones">
						<md-content class="md-padding">
							<div layout="row" layout-wrap>
								<div flex-gt-xs="33" ng-show="Zones.length > 0">
									<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
										<md-card-title>
											<md-card-title-text>
												<span class="md-headline">Zonas</span>
											</md-card-title-text>
										</md-card-title>
										<md-card-content>
											<div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in Zones">
												<md-checkbox aria-label="item.body"
															 ng-checked="(exists(item, previousZones) || exists(item, addCategorizations)) && !exists(item, deleteCategorizations)"
															 ng-click="toggle(item, previousZones)">
													{{ item.body }}
												</md-checkbox>
											</div>

										</md-card-content>
									</md-card>
								</div>
								<div flex-gt-xs="33" ng-show="Categories.length > 0">
									<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
										<md-card-title>
											<md-card-title-text>
												<span class="md-headline">Categorias</span>
											</md-card-title-text>
										</md-card-title>
										<md-card-content>
											<div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in Categories">
												<md-checkbox aria-label="item.body"
															 ng-checked="(exists(item, previousCategories) || exists(item, addCategorizations)) && !exists(item, deleteCategorizations)"															 
															 ng-click="toggle(item, previousCategories)">
													{{ item.body }}
												</md-checkbox>
											</div>

										</md-card-content>
									</md-card>
								</div>
								<div flex-gt-xs="33" ng-show="Censuras.length > 0">
									<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
										<md-card-title>
											<md-card-title-text>
												<span class="md-headline">Censuras</span>
											</md-card-title-text>
										</md-card-title>
										<md-card-content>
											<div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in Censuras">
												<md-checkbox aria-label="item.body"
															 ng-checked="(exists(item, previousCensuras) || exists(item, addCategorizations)) && !exists(item, deleteCategorizations)"															 															 
															 ng-click="toggle(item, previousCensuras)">
													{{ item.body }}
												</md-checkbox>
											</div>

										</md-card-content>
									</md-card>
								</div>
							</div>
						</md-content>
					</md-tab>

					<md-tab label="Imágenes">
						<md-content class="md-padding">
							<div class="md-block" ng-repeat="tag in tagsNotFound">
								<div class="md-headline alert alert-warning" >
									Debe subir una imagen tipo {{tag.tag}} con dimensiones {{tag.dimensions.width}}x{{tag.dimensions.height}}
								</div>
							</div>
							<lf-ng-md-file-input
								name="newImages"
								lf-files="newImages"
								lf-api="api"
								lf-mimetype="image/*" accept="image/*"
								lf-placeholder="Seleccionar imagen" lf-browse-label="Buscar"
								lf-drag-and-drop-label="Arrastra imagenes acá"
								lf-filesize="1MB"
								lf-on-file-click="onFileClick"
								multiple drag >
							</lf-ng-md-file-input>

							<div ng-messages="articleForm.newImages.$error" layout="row" layout-padding layout-wrap>
								<div md-whiteframe="3" style="width: 100%; background-color: red; color: white;" class="" ng-message="required">This is required.</div>
								<div md-whiteframe="3" style="width: 100%; background-color: red; color: white;" class="" ng-message="maxcount">Too many files.</div>
								<div md-whiteframe="3" style="width: 100%; background-color: red; color: white;" class="" ng-message="filesize">El tamaño máximo para las imagenes es de 1MB.</div>
								<div md-whiteframe="3" style="width: 100%; background-color: red; color: white;" class="" ng-message="totalsize">Total size too large.</div>
								<div md-whiteframe="3" style="width: 100%; background-color: red; color: white;" class="" ng-message="mimetype">Solo puede incluir imagenes en este campo.</div>
							</div>

							<div layout="row" layout-wrap>
								<div flex-gt-sm="25"  ng-repeat="image in prevImages">
									<md-card>
										<img ng-src="{{image.url}}" class="md-card-image" alt="Washed Out">

										<md-card-actions layout="row" layout-align="end center">
											<md-button ng-click="vm.deleteImage(vm.article.id, image.id, $index)">
												Eliminar
											</md-button>
											<md-input-container>
												<label>Tipo</label>
												<md-select ng-model="image.tag" ng-change="vm.changeImageTag(image, $index)" ng-disabled="vm.disableTagChange(image)">
													<md-option
														ng-repeat="tag in vm.getImageTags(image)"
														ng-value="tag.tag"
														ng-selected="tag.tag.toLowerCase() === image.tag.toLowerCase()">
														{{tag.tag}}
													</md-option>
												</md-select>
											</md-input-container>
										</md-card-actions>
									</md-card>
								</div>
								<div flex-gt-sm="25"  ng-repeat="image in newImages">
									<md-card>
										<img ng-src="{{image.lfDataUrl}}" class="md-card-image" alt="{{image.lfFileName}}">

										<md-card-actions layout="row" layout-align="end center">
											<md-button ng-click="api.removeByName(image.lfFileName)">
												Eliminar
											</md-button>
											<md-input-container>
												<label>Tipo</label>
												<md-select ng-model="image.tag"
														   ng-change="vm.checkMandatories()">
													<md-option
														ng-repeat="tag in vm.getImageTags(image)"
														ng-value="tag.tag">
														{{tag.tag}}
													</md-option>
												</md-select>
											</md-input-container>
										</md-card-actions>
									</md-card>
								</div>
							</div>
						</md-content>
					</md-tab>
					
					<!--<md-tab label="Multimedia social" ng-if="showSocialMultimedias">
						<md-content class="md-padding">
							<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch  ng-if="showYoutubes">
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">Videos Youtube</span>
										<span class="alert alert-danger" ng-show="!validYoutubes">
											No debe incluir videos repetidos
										</span>
									</md-card-title-text>
								</md-card-title>


								<md-card-content>
									<div flex-gt-sm="50" ng-repeat="video in youtubes" ng-if="youtubes.length">
										<md-card>
											<div ng-bind-html="trustAsHtml(video.youtubeID)"></div>

											<md-card-actions layout="row" layout-align="end center">
												<md-button ng-click="vm.deleteMultimedia(video, 'youtube')">
													Eliminar
												</md-button>
											</md-card-actions>
										</md-card>
									</div>

									<div data-ng-repeat="video in newYoutubes">
										<div ng-if="video.youtubeID">
											<div ng-bind-html="trustAsHtml(video.youtubeID)"></div>											
										</div>

										<div layout="row" layout-wrap>											
											<md-input-container class="md-block" flex-gt-xs="90">
												<label>YoutubeID</label>
												<input ng-model="video.youtubeID" ng-blur="checkSocialMedia('youtube')">
											</md-input-container>
											<span layout="row" layout-align="center" flex-gt-xs="10" ng-click="removeEmptySocialMedia('youtube', $index)">
												<md-icon>delete</md-icon>
											</span>
										</div>
									</div>
								</md-card-content>

								<md-card-actions>
									<md-button ng-click="addNewMultimedia('youtube')" type="button" class="md-raised md-primary">Añadir video</md-button>
								</md-card-actions>
							</md-card>
							<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-if="showTweets">
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">Tweets</span>
										<span class="alert alert-danger" ng-show="!validTweets">
											No debe incluir tweets repetidos
										</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-content>
									<md-input-container class="md-block" ng-if="tweets.length">
										<md-chips
											ng-model="tweets"
											readonly="true"
											md-removable="true"
											md-item-text="item.tweetID"
											delete-button-label="Eliminar tweet"
											delete-hint="Press delete to remove tag"
											secondary-placeholder="+Tweet"
											md-on-remove="vm.deleteMultimedia($chip, 'tweet')"
										>
											<md-chip-template>
												<strong>{{$chip.tweetID}}</strong>
											</md-chip-template>
										</md-chips>
									</md-input-container>

									<div  data-ng-repeat="tweet in newTweets">
										<div layout="row" layout-wrap>

											<md-input-container class="md-block" flex-gt-xs="90">
												<label>tweetID</label>
												<input ng-model="tweet.tweetID" ng-blur="checkSocialMedia('tweet')">
											</md-input-container>
											<span layout="row" layout-align="center" flex-gt-xs="10" ng-click="removeEmptySocialMedia('tweet', $index)">
								<md-icon>delete</md-icon>
							</span>
										</div>
									</div>
								</md-card-content>

								<md-card-actions>
									<md-button ng-click="addNewMultimedia('tweet')" type="button" class="md-raised md-primary">Añadir tweet</md-button>
								</md-card-actions>
							</md-card>
						</md-content>
					</md-tab>-->
				</md-tabs>
			</md-content>


			<div layout="row" layout-align="end end">
				<md-button class="md-raised md-warn" data-ng-click="cancelEdit(vm.article.id)">Cancelar</md-button>
				
				<md-button ng-disabled="isDisabledSubmit || vm.isLocked" type="button" ng-click="vm.ProcessForm('publish')" class="md-raised md-primary" ng-hide="vm.article.active">Guardar y publicar</md-button>
				<md-button ng-disabled="isDisabledSubmit || vm.isLocked" type="button" ng-click="vm.ProcessForm('newarticle')" class="md-raised md-primary">Guardar y nuevo</md-button>
				<md-button ng-disabled="isDisabledSubmit || vm.isLocked" type="submit" class="md-raised md-primary">Guardar</md-button>
			</div>
		</form>
	</div>
</md-content>

