
<button type="button" class="btn btn-xs col-sm-4 btn-success" ng-if="!article.active && !checkLocked(article.locked)" ng-click="changeStatus(article.id, true)">Activar</button>
<button type="button" class="btn btn-xs col-sm-4 btn-danger" ng-disabled="checkLocked(article.locked)" ng-if="article.active && !checkLocked(article.locked)" ng-click="changeStatus(article.id, false)">Desactivar</button>
<button type="button" class="btn btn-xs col-sm-4 btn-info" ui-sref="home.editarticle({id: article.id})" ng-if="!checkLocked(article.locked)"" ng-disabled="checkLocked(article.locked)">Editar</button>
<button type="button" class="btn btn-xs col-sm-4 btn-danger" ng-disabled="checkLocked(article.locked)" ng-if="!checkLocked(article.locked)" ng-click="deleteConfirm(article)">Eliminar</button>

<button type="button" class="btn btn-xs col-sm-12 btn-warning" ng-if="canUnlock(article) && checkLocked(article.locked)" ng-click="unlockConfirm(article)">Desbloquear</button>
<span class="col-sm-12 label label-warning" ng-if="checkLocked(article.locked) && !canUnlock(article)">
    Bloqueada
</span>
