<md-toolbar layout="row" class="md-hue-1">
	<div class="md-toolbar-tools">
		<div ng-show="vm.search" >
			<span> <b>Resultado de busqueda de {{item_name}}:</b> </span>
			<span> {{vm.searchQuery}} </span>
		</div>
		<div ng-hide="vm.search || vm.byCategorization" >
			<span>{{item_name}}</span>
		</div>
		<div ng-show="vm.byCategorization" >
			<span>Artículos de la categorización <b>{{vm.categorizationName}}</b></span>
		</div>
		<span flex></span>

		<md-button ng-show="vm.search || vm.byCategorization" class="md-raised md-primary" ui-sref="home.articles">Volver</md-button>

		<md-button class="md-raised md-primary" ui-sref="home.massiveupload" ng-if="config.massive_load">Carga masiva
		</md-button>
		<md-button class="md-raised md-primary" ui-sref="home.newarticle">Crear artículo</md-button>
	</div>
</md-toolbar>

<div permission permission-only="'LOGGEDIN'" class="md-padding" flex layout-sm="column" ng-if="articles.length !== 0">
	<md-toolbar class="md-hue-3">
		<div class="md-toolbar-tools">
			<md-button class="md-raised md-primary" ng-disabled="filterStatus && filterStatus !== undefined"
					   ng-click="filterStatus = true">Ver activos
			</md-button>
			<md-button class="md-raised md-primary" ng-disabled="!filterStatus && filterStatus !== undefined"
					   ng-click="filterStatus = false">Ver inactivos
			</md-button>
			<md-button class="md-raised md-primary" ng-disabled="filterStatus == undefined && filterMandatoryImages == false"  ng-click="filterStatus = undefined; filterMandatoryImages = false">Ver todos</md-button>
			
			<md-button class="md-raised md-primary" ng-init="filterMandatoryImages=false" ng-click="filterMandatoryImages = !filterMandatoryImages">
				<md-tooltip md-direction="top" ng-if="!filterMandatoryImages"> Ver solo sin imagenes obligatorias completas </md-tooltip>
				<md-tooltip md-direction="top" ng-if="filterMandatoryImages || filterMandatoryImages === undefined"> Ver sin restricción de imagenes </md-tooltip>
				<md-icon>image</md-icon>
			</md-button>

			<md-button class="md-raised md-primary" ng-click="loadArticles()">Actualizar</md-button>

			<span flex></span>

			<md-menu>
				<md-button aria-label="Open menu with custom trigger" class="md-primary" ng-click="vm.openFilterMenu($mdOpenMenu, $event)">
					Zonas <md-icon>filter_list</md-icon>
				</md-button>
				<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
					<md-menu-item>
						<md-button ui-sref="home.articles">
							Todas
						</md-button>
					</md-menu-item>
					<md-menu-item ng-repeat="item in Zones">
						<md-button ui-sref="home.articlesByCategory({categoryId: item.id})">
							{{item.body}}
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<md-menu>
				<md-button aria-label="Open menu with custom trigger" class="md-primary" ng-click="vm.openFilterMenu($mdOpenMenu, $event)">
					Categorias <md-icon>filter_list</md-icon>
				</md-button>
				<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
					<md-menu-item>
						<md-button ui-sref="home.articles">
							Todas
						</md-button>
					</md-menu-item>
					<md-menu-item ng-repeat="item in Categories">
						<md-button ui-sref="home.articlesByCategory({categoryId: item.id})">
							{{item.body}}
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

		</div>
	</md-toolbar>

	<md-content>
		<table class="table table-striped table-hover" style="font-size: 12px">
			<thead>
				<tr>
					<th>ID</th>
					<th>Título</th>
					<th>Creado por</th>
					<th>Fecha de creación</th>
					<th>Última modificacion</th>					
					<th>Fecha de modificación</th>
					<th>
					<md-icon class="md-icon-button test-tooltip" aria-label="Refresh">
						<md-tooltip md-direction="top">Imagenes obligatorias completas</md-tooltip>
						image
					</md-icon>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-repeat="article in articles | filter:{active: filterStatus} | filter:{mandatoryImagesNotFound: filterMandatoryImages || undefined} | orderBy: '-creation_date'">
					<td class="col-sm-">{{ article.id }}</td>
					<td class="col-sm-">
						<a ui-sref="home.article({id: article.id})">{{ article.title }}</a>
					</td>
					<td class="col-sm-">{{ article.creatorUser.fullname }}</td>
					<td class="col-sm-">{{ article.creation_date |  date:'medium'}}</td>
					<td class="col-sm-">{{ article.updaterUser.fullname }}</td>					
					<td class="col-sm-">{{ article.modification_date |  date:'medium'}}</td>
					<td>
						<md-icon ng-hide="article.mandatoryImagesNotFound">check_circle</md-icon>
						<md-icon ng-show="article.mandatoryImagesNotFound">close</md-icon>
					</td>
					<td class="col-sm-">
						<article-actions ></article-actions>
					</td>
				</tr>
			</tbody>
		</table>
	</md-content>

	<div layout="row" layout-align="center">
		<ul uib-pagination ng-change="pageChanged()" items-per-page="limit" boundary-links="true" total-items="totalItems"
			ng-model="current.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
			last-text="&raquo;" rotate="true" force-ellipses="true" max-size="5">
		</ul>
	</div>
</div>

<div ng-if="articles.length === 0" class="alert alert-info">
	No hay artículos
</div>

