<md-toolbar layout="row" class="md-hue-1">
	<div class="md-toolbar-tools">
		<h1>Carga masiva de artículos</h1>

		<span flex></span>

		<md-button class="md-raised md-warn" ui-sref="home.articles">Cancelar</md-button>
	</div>
</md-toolbar>

<md-content>
	<div>
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Instrucciones</span>
				</md-card-title-text>
			</md-card-title>

			<md-card-content>
				<md-list>
					<md-list-item>
						Descargue la plantilla que le proveemos en formato
						<a style="padding: 10px" ng-href="{{getFileLink('xls')}}" target="_blank" class="md-primary">.xls</a> u
						<a style="padding: 10px" ng-href="{{getFileLink('ods')}}" target="_blank" class="md-primary">.ods</a>
						para realizar la carga de artículos
					</md-list-item>
					<md-list-item>
						Recuerde mantener el formato presente en la plantilla para evitar errores
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>

		<md-card ng-if="vm.errors">
			<md-card-title>Errores: </md-card-title>

			<md-card-content ng-repeat="errorMessage  in vm.errors">
				<p>
					<b>Item número {{ errorMessage.itemNumber }}:</b>  {{ errorMessage.message }}
				</p>
			</md-card-content>
		</md-card>

		<form name="articleForm" ng-submit="vm.BulkUpload()">
			<md-card>
				<md-card-content>
					<!--TODO: el selector de imágenes no está funcionando-->

					<!--<input type="file" fileread="vm.file">-->


					<lf-ng-md-file-input
						lf-drag-and-drop-label="Arrastra archivo acá"
						lf-placeholder="Seleccionar archivo" lf-browse-label="Buscar"
						lf-files="files"
						lf-on-file-click="onFileClick" preview drag>

					</lf-ng-md-file-input>

				</md-card-content>
			</md-card>
			<div layout="row" layout-align="end end">
				<md-button class="md-raised md-warn" ui-sref="home.articles">Cancelar</md-button>

				<md-button type="submit" class="md-raised md-primary">Enviar</md-button>
			</div>
		</form>
	</div>
</md-content>

