<div class="md-padding" flex layout-sm="column" layout-padding permission permission-only="'isAdmin'">
	<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools">
			<span>Configuración</span>
		</div>
	</md-toolbar>

    <md-content>
		<md-list flex>
			<md-list-item ng-repeat="category in categories" ui-sref="home.articlesByCategory({categoryId: category.id})">
				<p> {{ category.body }} </p>
				<md-button class="md-raised md-primary" ui-sref="home.editcategory({id: category.id})">Editar</md-button>
				<md-button class="md-warn md-raised" ng-click="vm.deleteConfirm(category)" >
					Eliminar
				</md-button>
			</md-list-item>

			<md-list-item>
                <div class="col-xs-2">
                    <md-switch ng-model="config.home_active" aria-label="Switch 1" ng-change="changeHomeActive()">
                        API Home Active: {{ config.home_active }}
                    </md-switch>
                </div>
                <div class="col-xs-10">Cuando se desactiva, los cambios (notas creadas, editadas, eliminadas, etc) llevados a cabo en el editor no serán reflejados en el site</div>
			</md-list-item>

			<md-list-item>
                <div class="col-xs-2">
                    <md-switch ng-model="config.article_active" aria-label="Switch 1" ng-change="changeArticleActive()">
                        API Article Active: {{ config.article_active }}
                    </md-switch>
                </div>
                <div class="col-xs-10">Cuando se desactiva, las notas no se pueden acceder incluso desde el detalle de la misma</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>