<div class="md-padding" flex layout-sm="column">
    <md-card class="text-center">
        <md-card-content>
            <h1 ng-bind-html="vm.title"></h1>
            <h3>{{ vm.version }}</h3>
        </md-card-content>
    </md-card>
</div>
