<md-sidenav  permission permission-only="'LOGGEDIN'" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <div ng-controller="SidenavCtrl as vm" ng-cloak>
        <md-toolbar class="md-tall md-hue-2">
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <div layout="row">
                    <div flex="80" style="margin-top: 10px;">
                        <div>{{vm.client_name}}</div>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ui-sref="home.dashboard">
                <div class="inset">
                    <ng-md-icon icon="apps"></ng-md-icon>
                </div>
                <p> Dashboard </p>
            </md-list-item>
            <!--<md-list-item ng-repeat="item in vm.menu" ng-click="vm.navigateTo('home.' + item.link)">-->
                <!--<div class="inset" ng-show="item.icon">-->
                    <!--<ng-md-icon icon="{{item.icon}}"></ng-md-icon>-->
                <!--</div>-->
                <!--<p > {{ item.name }}</p>-->
            <!--</md-list-item>-->
            <md-list-item ng-click="vm.navigateTo('home.articles')">
                <p> Artículos </p>
            </md-list-item>
            <md-list-item ng-click="vm.navigateTo('home.categories')" permission permission-only="'isAdmin'">
                <p> Categorias </p>
            </md-list-item>
            <md-list-item ng-click="vm.navigateTo('home.users')" permission permission-only="'isAdmin'">
                <p> Usuarios </p>
            </md-list-item>
            <md-list-item ng-click="vm.navigateTo('home.config')" permission permission-only="'isAdmin'">
                <p> Config </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader ng-if="vm.admin.length">Admin</md-subheader>
            <md-list-item ng-repeat="item in vm.admin" ng-click="vm.showSettingsBottom($event)" >
                <div class="inset">
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <p> {{ item.title }} </p>
            </md-list-item>
        </md-list>
    </div>
</md-sidenav>

<div layout="column" class="relative" layout-fill role="main" ng-controller="LayoutCtrl as layout" ng-cloak>
    <md-toolbar ng-show="!vm.showSearch" permission permission-only="'LOGGEDIN'" >
        <div class="md-toolbar-tools">
            <md-button ng-click="layout.toggleSidenav('left')" aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>{{vm.client_name}}</h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="vm.showSearch = !vm.showSearch" >
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>

			<md-menu>
                <md-button aria-label="Open Settings" ng-click="layout.openMenu($mdOpenMenu, $event)">
                   <span permission permission-only="'LOGGEDIN'">
					   {{vm.user.fullname}}
					</span>
					<md-icon> more_vert </md-icon>
                </md-button>
                <md-menu-content width="4">
                    <!--<md-menu-item>-->
                        <!--<md-button ng-click="layout.changeProfile($event)">-->
                            <!--<md-icon>face</md-icon>-->
                            <!--Profile-->
                        <!--</md-button>-->
                    <!--</md-menu-item>-->
                    <md-menu-item>
                        <md-button ng-click="layout.changePassword()">
                            <md-icon>lock</md-icon>
                            Cambiar contraseña
                        </md-button>
                    </md-menu-item>
                    <!--<md-menu-divider></md-menu-divider>-->
                    <md-menu-item>
                        <md-button ng-click="layout.logOut()">
                            <md-icon>power_settings_new</md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-toolbar class="md-hue-1" ng-show="vm.showSearch">
		<form name="searchForm" flex novalidate ng-submit="searchForm.$valid && vm.ProcessSearch(search)" >
			<div class="md-toolbar-tools">
				<md-button ng-click="vm.showSearch = !vm.showSearch" aria-label="Back">
					<ng-md-icon icon="arrow_back"></ng-md-icon>
				</md-button>
				<!--<h3 flex="10">-->
					<!--Back-->
				<!--</h3>-->

				<md-input-container md-theme="input" flex style="margin-top: 4%">
					<label></label>
					<input ng-required="true" ng-model="search" style="color: #FFF;" placeholder="Buscar ...">
				</md-input-container>
				<div flex="10">
					<md-button type="submit" class="md-primary">Buscar</md-button>
				</div>
			</div>
		</form>
    </md-toolbar>
    <md-content layout="column" flex md-scroll-y style="background-color:#DCDCDC">
        <div ui-view></div>
    </md-content>
</div>
