<md-toolbar layout="row" class="md-hue-1">
	<div class="md-toolbar-tools">
		<h1 ng-if="!vm.edit">Nueva categorizacion</h1>
		<h1 ng-if="vm.edit">Editar categorizacion</h1>

		<span flex></span>

		<md-button class="md-raised md-warn" ui-sref="home.categories">Cancelar</md-button>
	</div>
</md-toolbar>
<md-content layout-padding>
	<form name="categoryForm" ng-submit="categoryForm.$valid && vm.ProcessForm()">
		<md-card>
			<md-card-content>
				<md-input-container class="md-block">
					<label>Nombre</label>
					<input name="name" ng-model="vm.category.body" ng-required="true">
					<div ng-messages="categoryForm.name.$error">
						<div ng-message="required">Este campo es obligatorio</div>
					</div>
				</md-input-container>

				<md-input-container>
					<md-select ng-model="vm.category.type" name="type" ng-required="true" placeholder="Tipo">
						<md-option ng-repeat="type in vm.types" ng-value="type.value">
							{{type.tag}}
						</md-option>
					</md-select>
					<div ng-messages="categoryForm.type.$error">
						<div ng-message="required">Este campo es obligatorio</div>
					</div>
				</md-input-container>
			</md-card-content>
		</md-card>

		<div layout="row" layout-align="end end">
			<md-button class="md-raised md-warn" ui-sref="home.categories">Cancelar</md-button>
			<md-button type="submit" class="md-raised md-primary">Guardar</md-button>
		</div>
	</form>
</md-content>

