<md-content layout-padding permission permission-except="'isAdmin'">
	<md-card>
		<md-card-title>
			<h3>No tiene permisos para ejecutar esta acción</h3>
		</md-card-title>
	</md-card>
</md-content>

<md-toolbar layout="row" class="md-hue-1" permission permission-only="'isAdmin'">
	<div class="md-toolbar-tools">
		<span>Categorizaciones</span>

		<span flex></span>
		<md-button class="md-raised md-primary" ui-sref="home.newcategory">Crear categorización</md-button>
	</div>
</md-toolbar>

<div class="md-padding" flex layout-sm="column" layout-padding permission permission-only="'isAdmin'">
	<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools">
			<span>Categorias</span>
		</div>
	</md-toolbar>

	<md-content>
		<md-list flex>
			<md-list-item ng-repeat="category in categories" ui-sref="home.articlesByCategory({categoryId: category.id})">
				<p> {{ category.body }} </p>
				<md-button class="md-raised md-primary" ui-sref="home.editcategory({id: category.id})">Editar</md-button>
				<md-button class="md-warn md-raised" ng-click="vm.deleteConfirm(category)" >
					Eliminar
				</md-button>
			</md-list-item>

			<md-list-item ng-if="categories.length === 0" >
				No hay categorias
			</md-list-item>
		</md-list>
	</md-content>

	<div layout="row" layout-align="center">
		<ul uib-pagination ng-change="pageChanged('categories')" items-per-page="limit" boundary-links="true" total-items="totalCategories"
			ng-model="currentPageCategories" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
			last-text="&raquo;" rotate="true" force-ellipses="true" max-size="5">
		</ul>
	</div>

	<md-divider></md-divider>

	<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools">
			<span>Zonas</span>
		</div>
	</md-toolbar>

	<md-content>
		<md-list flex>
			<md-list-item ng-repeat="zone in zones" ui-sref="home.articlesByCategory({categoryId: zone.id})">
				<p> {{ zone.body }} </p>
				<md-button class="md-raised md-primary" ui-sref="home.editcategory({id: zone.id})">Editar</md-button>
				<md-button class="md-warn md-raised" ng-click="vm.deleteConfirm(zone)" >
					Eliminar
				</md-button>
			</md-list-item>

			<md-list-item ng-if="zones.length === 0" >
				No hay zonas
			</md-list-item>
		</md-list>
	</md-content>

	<div layout="row" layout-align="center">
		<ul uib-pagination ng-change="pageChanged('zones')" items-per-page="limit" boundary-links="true" total-items="totalZones"
			ng-model="currentPageZones" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
			last-text="&raquo;" rotate="true" force-ellipses="true" max-size="5">
		</ul>
	</div>

	<md-divider></md-divider>

	<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools">
			<span>Censura</span>
		</div>
	</md-toolbar>

	<md-content>
		<md-list flex>
			<md-list-item ng-repeat="censura in censuras" ui-sref="home.articlesByCategory({categoryId: censura.id})">
				<p> {{ censura.body }} </p>
				<md-button class="md-raised md-primary" ui-sref="home.editcategory({id: censura.id})">Editar</md-button>
				<md-button class="md-warn md-raised" ng-click="vm.deleteConfirm(censura)" >
					Eliminar
				</md-button>
			</md-list-item>

			<md-list-item ng-if="censuras.length === 0" >
				No hay Censuras
			</md-list-item>
		</md-list>
	</md-content>

	<div layout="row" layout-align="center">
		<ul uib-pagination ng-change="pageChanged('censuras')" items-per-page="limit" boundary-links="true" total-items="totalCensuras"
			ng-model="currentPageCensuras" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
			last-text="&raquo;" rotate="true" force-ellipses="true" max-size="5">
		</ul>
	</div>
</div>
