<div layout="row" layout-align="center center">
	<div class="md-pading" flex="50" layout-sm="column" permission permission-except="'LOGGEDIN'">
		<md-card>
			<md-card-content>
				<form name="loginForm" ng-controller="SessionCtrl"
					  ng-submit="login(credentials)" novalidate>

					<md-input-container class="md-icon-float md-block">
						<!-- Use floating label instead of placeholder -->
						<label>Nombre de usuario</label>
						<input type="text" id="username" name="username" ng-model="credentials.username" ng-required="true">
						<div ng-messages="loginForm.username.$error">
							<div ng-message="required">Este campo es obligatorio</div>
						</div>
					</md-input-container>

					<md-input-container class="md-icon-float md-block">
						<label for="password">Contraseña:</label>
						<input type="password" id="password" name="password" ng-model="credentials.password" ng-required="true">
						<div ng-messages="loginForm.password.$error">
							<div ng-message="required">Este campo es obligatorio</div>
						</div>
					</md-input-container>

					<md-card-actions layout="row" layout-align="end center">
						<md-button type="submit" class="md-raised md-primary">
							Iniciar sesión
						</md-button>
					</md-card-actions>
				</form>
			</md-card-content>
		</md-card>

		<div layout="row" layout-align="end center">
			<md-button type="button" class="md-raised" ui-sref="home.resetpasswordrequest" md-no-ink >
				¿Olvidó su contraseña?
			</md-button>
		</div>
	</div>
</div>




