<div layout="row" layout-align="center center">
	<div class="md-pading" flex="50" layout-sm="column">
		<md-card>
			<md-card-content>
				<form name="resetPasswordForm" ng-controller="SessionCtrl"
					  ng-submit="resetPasswordForm.$valid && resetpassword(password, confirmation, access_token)" novalidate>

					<md-input-container class="md-block">
						<label>Contraseña</label>
						<input type='password' id='pw1' name='pw1' ng-model='password' md-minlength="100" ng-minlength="8" ng-required="!edit"/>
						<div ng-messages="resetPasswordForm.pw1.$error" role="alert">
							<div ng-message="required">Este campo es obligatorio</div>
							<div ng-message="minlength">La contraseña deben tener al menos 8 caracteres</div>
						</div>
					</md-input-container>

					<md-input-container class="md-block">
						<label>Repita su contraseña</label>
						<input type='password' id='pw2' ng-model='confirmation' name='pw2' ng-model='pw2' md-minlength="100" ng-minlength="8" ng-required="!edit" pw-check='pw1'/>
						<div ng-messages="resetPasswordForm.pw2.$error" role="alert">
							<div ng-message="required">Este campo es obligatorio</div>
							<div ng-message="pwmatch">Las contraseñas deben coincidir</div>
							<div ng-message="minlength">La contraseña deben tener al menos 8 caracteres</div>
						</div>
					</md-input-container>

					<md-card-actions layout="row" layout-align="end center">
						<md-button type="submit" class="md-raised md-primary">
							Enviar
						</md-button>
					</md-card-actions>
				</form>
			</md-card-content>
		</md-card>
	</div>
</div>
