<div layout="row" layout-align="center center">
	<div class="md-pading" flex="50" layout-sm="column" permission permission-except="'LOGGEDIN'">
		<md-card>
			<md-card-content>
				<form name="requestResetForm" ng-controller="SessionCtrl" novalidate>

					<md-input-container class="md-icon-float md-block">
						<!-- Use floating label instead of placeholder -->
						<label>Correo electrónico</label>
						<input type="email" id="email" name="email" ng-model="email" ng-required="true">
						<div ng-messages="requestResetForm.email.$error">
							<div ng-message="email">Introduzca una dirección de correo válida</div>
							<div ng-message="required">Este campo es obligatorio</div>
						</div>
					</md-input-container>

					<md-card-actions layout="row" layout-align="end center">
						<md-button type="submit" class="md-raised md-primary" ng-click="requestResetForm.$valid && requestreset(email)">
							Enviar
						</md-button>
					</md-card-actions>

				</form>
			</md-card-content>
		</md-card>
		<md-card-actions layout="row" layout-align="end center">
			<md-button type="submit" class="md-raised" ui-sref="home.login">
				Atrás
			</md-button>
		</md-card-actions>
	</div>
</div>




