<div layout="row" layout-align="center center">
	<div class="md-pading" flex="50" layout-sm="column" permission permission-except="'LOGGEDIN'">
		<md-card>
			<md-card-content>
				Le hemos enviado un correo electrónico con la información necesaria para reestablecer su contraseña

				<md-card-actions layout="row" layout-align="end center">
					<md-button ui-sref="home.login" class="md-raised md-primary">
						Iniciar sesión
					</md-button>
				</md-card-actions>
			</md-card-content>
		</md-card>
	</div>
</div>
