    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="layout.toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                <a href="/">La Iguana</a>
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-menu>
                <md-button aria-label="Open Settings" ng-click="layout.openMenu($mdOpenMenu, $event)">
                            <md-icon> more_vert </md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="layout.changeProfile($event)">
                            <md-icon>face</md-icon>
                            Profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="layout.changePassword()">
                            <md-icon>lock</md-icon>
                            Password
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="layout.logOut()">
                            <md-icon>power_settings_new</md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <h3 flex="10">
                Back
            </h3>
            <md-input-container md-theme="input" flex>
                <label>&nbsp;</label>
                <input ng-model="search.who" placeholder="Search ...">
            </md-input-container>

        </div>
    </md-toolbar>
    <md-content class="md-blue-grey-theme" flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>


        </ui-view>
    </md-content>
