<md-content layout-padding permission permission-except="'isAdmin'">
	<md-card>
		<md-card-title>
			<h3>No tiene permisos para ejecutar esta acción</h3>
		</md-card-title>
	</md-card>
</md-content>

<md-toolbar layout="row" class="md-hue-1" permission permission-only="'isAdmin'">
	<div class="md-toolbar-tools">

		<div ng-show="vm.search" >
			<span> <b>Resultado de busqueda de usuarios:</b> </span>
			<span> {{vm.searchQuery}} </span>
		</div>
		<div ng-hide="vm.search" >
			<span>Usuarios</span>
		</div>
		<span flex></span>

		<md-button ng-show="vm.search" class="md-raised md-primary" ui-sref="home.users">Volver</md-button>
		<md-button class="md-raised md-primary" ui-sref="home.newuser">Crear usuario</md-button>
	</div>
</md-toolbar>

<div class="md-padding" flex layout-sm="column" layout-padding permission permission-only="'isAdmin'">
	<md-content>
		<md-list flex>
			<md-list-item class="md-3-line" ng-repeat="user in users" ui-sref="home.user({id: user.id})">
				<div class="md-list-item-text" layout="column">
					<h3>{{ user.fullname }}</h3>
					<h4>{{ user.username}}</h4>
					<h4>{{ user.email}}</h4>
				</div>
				<md-button class="md-raised md-primary" ui-sref="home.edituser({id: user.id})">Editar</md-button>
				<md-button class="md-warn md-raised" ng-click="vm.deleteConfirm(user)" >
					Eliminar
				</md-button>
			</md-list-item>
		</md-list>
	</md-content>

	<div layout="row" layout-align="center">
		<ul uib-pagination ng-change="pageChanged()" items-per-page="limit" boundary-links="true" total-items="totalItems"
			ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
			last-text="&raquo;" rotate="true" force-ellipses="true" max-size="5">
		</ul>
	</div>
</div>

