<md-toolbar layout="row" class="md-hue-1">
	<div class="md-toolbar-tools">
		<h1 ng-if="!edit">Crear usuario</h1>
		<h1 ng-if="edit">Editar usuario</h1>

		<span flex></span>

		<md-button class="md-raised md-warn" ui-sref="home.users">Cancelar</md-button>
	</div>
</md-toolbar>

<md-content>
	<div>

		<form name="userForm" ng-submit="userForm.$valid && vm.ProcessForm()">
			<md-card>
				<md-card-content>
					<md-input-container class="md-block">
						<label>Nombre completo</label>
						<input name="fullname" ng-model="vm.user.fullname" required>
						<div ng-messages="userForm.fullname.$error" role="alert">
							<div ng-message="required">Este campo es obligatorio</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Nombre de usuario</label>
						<input name="username" ng-model="vm.user.username" required>
						<div ng-messages="userForm.username.$error" role="alert">
							<div ng-message="required">Este campo es obligatorio</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Email</label>
						<input type="email" name="email" ng-model="vm.user.email" required>
						<div ng-messages="userForm.email.$error" role="alert">
							<div ng-message="required">Este campo es obligatorio</div>
							<div ng-message="email">Debe introducir una dirección de correo válida</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Contraseña</label>
						<input type='password' id='pw1' name='pw1' ng-model='vm.user.password' md-minlength="100" ng-minlength="8" ng-required="!edit"/>
						<div ng-messages="userForm.pw1.$error" role="alert">
							<div ng-message="required">Este campo es obligatorio</div>
							<div ng-message="minlength">La contraseña deben tener al menos 8 caracteres</div>
						</div>
					</md-input-container>

					<md-input-container class="md-block">
						<label>Repita su contraseña</label>
						<input type='password' id='pw2' name='pw2' ng-model='pw2' md-minlength="100" ng-minlength="8" ng-required="!edit" pw-check='pw1'/>
						<div ng-messages="userForm.pw2.$error" role="alert">
							<div ng-message="required">Este campo es obligatorio</div>
							<div ng-message="pwmatch">Las contraseñas deben coincidir</div>
							<div ng-message="minlength">La contraseña deben tener al menos 8 caracteres</div>
						</div>
					</md-input-container>
				</md-card-content>
			</md-card>

			<div layout="row" layout-align="end end">
				<md-button class="md-raised md-warn" ui-sref="home.users">Cancelar</md-button>
				<md-button type="submit" class="md-raised md-primary">Guardar</md-button>
			</div>
		</form>
	</div>
</md-content>

